@import 'reset';

@import 'mixin.scss';


/****************************************
**
**	2- HEADER
**
****************************************/

	/****************************************
	**	2.1 - TOP HEADER
	****************************************/

	header{
		max-width: 100%;
		display: flex;
		max-height: 200px;
		margin: 20px 10px;

		h1{
			width: 30%;

			img{
				max-width:50%;
			}
		}

		.header_notif{
			width:70%;
			display: flex;
			justify-content: flex-end;
			flex-direction: column;

			.header_notif_top{
				display: flex;
				width: 20%;
				justify-content: space-between;
				
				.notif_top{
					border:2px solid $blue;
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;

					img{
						max-width: 80%;
					}
				}
			}

			.header_notif_search{
				width: 20%;
				height: 40px;
				border: 3px solid transparent;
				-moz-border-image: -moz-linear-gradient(top left, $green 0%, $blue 100%);
				-webkit-border-image: -webkit-linear-gradient(top left, $green 0%, $blue 100%);
				border-image: linear-gradient(to bottom right, $green 0%, $blue 100%);
				border-image-slice: 1;

				background: none;
				padding-left: 10px;
			}
		}
	}

	/****************************************
	**	2.2 - MENU
	****************************************/

	.main_menu{
		margin-top: 50px;
		nav{
			display: flex;
			justify-content: space-between;

			.item_menu{
				width: 25%;
				height: 150px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding : 20px;
				
				text-align: center;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+87,dadada+100 */
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffffff 87%, #dadada 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #ffffff 87%,#dadada 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #ffffff 87%,#dadada 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */

				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;


				.content_img_menu{
					width: 100%;
				    height: 100%;
				    display: flex;
				    justify-content: center;
				}

				span{
					color: $d_grey;
					font-size: 18px;
					padding-top: 10px;
	
				}
			}

			a:not(:last-child){
				border-right: 2px solid #b9b9b9;
			}

			a:nth-child(1){
				@include border-bottom(#74c7d3);
			}

			a:nth-child(2){
				@include border-bottom(#5bb130);
			}

			a:nth-child(3){
				@include border-bottom(#38ab49);
			}

			a:nth-child(4){
				@include border-bottom(#23b4b0);
			}

			a:hover{
				border-bottom : 12px solid #74c7d3;
				-webkit-transform: translate(0px,-50px);
				-ms-transform: translate(0px,-50px);
				transform: translate(0px,-50px); 
				height: 200px;
				span{color : #74c7d3;}
			}

			a:nth-child(2):hover{
				border-bottom : 12px solid #5bb130;
				span{color : #5bb130;}
			}

			a:nth-child(3):hover{
				border-bottom : 12px solid #38ab49;
				span{color : #38ab49;}
			}

			a:nth-child(4):hover{
				border-bottom : 12px solid #23b4b0;
				span{color : #23b4b0;}
			}
	
		}
	}

