@import 'reset';

@import 'mixin.scss';


/****************************************
**
**	2- HEADER
**
****************************************/

	/****************************************
	**	2.1 - TOP HEADER
	****************************************/

	header{
		max-width: 100%;
		display: flex;
		max-height: 200px;
		margin: 20px 10px;

		h1{
			width: 30%;

			img{
				max-width:50%;
			}
		}

		.header_notif{
			width:70%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;

			.header_notif_top{
				display: flex;
				width: 20%;
				justify-content: space-between;
				
				.notif_top{
					border:2px solid $blue;
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;

					img{
						max-width: 80%;
					}
				}
			}

			.header_notif_search{
				width: 20%;
				height: 40px;
				margin-top: 20px;
				border: 3px solid transparent;
				-moz-border-image: -moz-linear-gradient(top left, $green 0%, $blue 100%);
				-webkit-border-image: -webkit-linear-gradient(top left, $green 0%, $blue 100%);
				border-image: linear-gradient(to bottom right, $green 0%, $blue 100%);
				border-image-slice: 1;

				background: none;
				padding-left: 10px;
			}
		}
	}

	/****************************************
	**	2.2 - MENU
	****************************************/

	.main_menu{
		margin-top: 50px;
		nav{
			display: flex;
			justify-content: space-between;

			.item_menu{
				width: 25%;
				height: 150px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding : 20px;
				
				text-align: center;
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+87,dadada+100 */
				background: #ffffff; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffffff 87%, #dadada 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #ffffff 87%,#dadada 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #ffffff 87%,#dadada 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */

				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;


				.content_img_menu{
					width: 100%;
				    height: 100%;
				    display: flex;
				    justify-content: center;
				}

				span{
					color: $d_grey;
					font-size: 18px;
					padding-top: 10px;
	
				}
			}

			a:not(:last-child){
				border-right: 2px solid #b9b9b9;
			}

			a:nth-child(1){
				@include border-bottom(#74c7d3);
			}

			a:nth-child(2){
				@include border-bottom(#5bb130);
			}

			a:nth-child(3){
				@include border-bottom(#38ab49);
			}

			a:nth-child(4){
				@include border-bottom(#23b4b0);
			}

			a:hover{
				border-bottom : 12px solid #74c7d3;
				-webkit-transform: translate(0px,-50px);
				-ms-transform: translate(0px,-50px);
				transform: translate(0px,-50px); 
				height: 200px;
				span{color : #74c7d3;}
			}

			a:nth-child(2):hover{
				border-bottom : 12px solid #5bb130;
				span{color : #5bb130;}
			}

			a:nth-child(3):hover{
				border-bottom : 12px solid #38ab49;
				span{color : #38ab49;}
			}

			a:nth-child(4):hover{
				border-bottom : 12px solid #23b4b0;
				span{color : #23b4b0;}
			}
	
		}
	}

	/****************************************
	**	2.3 - IMAGE ACCUEIL
	****************************************/
	.img_accueil{
		background: url(../Image/accueil/bg_accueil.jpg) no-repeat center ; 
		background-size: 100%;
		background-position: center;
		width: 100%;
		height: 600px;
		display: flex;
		justify-content: center;
		align-items:center;

		h2{
			font-family: 'order_pizzaregular';
			color: #fff;
			font-size: 33px;
			-ms-transform: rotate(-3deg); /* IE 9 */
			    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
			    transform: rotate(-3deg);
			 text-align: center;
		}
	}


/****************************************
**
**	3- DASHBOARD
**
****************************************/
	#accueil_dashboard{
		display: flex;
		margin-top: 50px;
	}

	/****************************************
	**	3.1 - SIDEBAR
	****************************************/
	.sidebar_accueil{
		background:$blue;
		width: 20%;
		height: 1000px;
	}


	/****************************************
	**	3.2 - DEFI
	****************************************/

	.dashboard{
		width: 80%;
		height: 1000px;
		padding: 0px 100px;

		h2{
			font-size: 48px;
			color : $blue;
			text-align: center;	
		}

		hr{
			border:0;
			height: 2px;
			width: 23%;
			background-image: linear-gradient(to right, $blue, $green);
		}

		.content_dashboard{
			margin-top: 50px;
			.single_defi{
				border: 1px solid #c6c6c6;
				padding: 20px;
				background: #fff;
				display: flex;
				margin: 20px 0;

				.single_defi_text{
					padding-left:20px;
					width: 100%;

					h3{
						text-transform: uppercase;
						font-size: 20px;
						color:#000;
						font-weight: bold;
						text-align: center;
					}

					p{
						font-style: italic;
					}

					.single_defi_bottom{
						display: flex;
						margin-top: 20px;

						.icon_partage{
							display: flex;

							.defi_ami{
								width: 90px;
								height: 70px;

								a{
									height: 100%;
									width: 100%;
									display: flex;
									justify-content: center;
									flex-direction: column;
									align-items: center;

									img{
										width: 50%;
									}

									span{
										padding-top: 10px;
										color: $d_grey;
									}
								}
							}
						}

						.icon_info_defi{
							display: flex;
							justify-content: flex-end;
							width: 100%;

							.info_defi{
								width: 90px;
								height: 80px;

								a{
									height: 100%;
									width: 100%;
									display: flex;
									justify-content: center;
									flex-direction: column;
									align-items: center;

									img{
										width: 50%;
									}

									span{
										padding-top: 10px;
										color: $d_grey;
									}
								}
							}
						}
					}
				}
			}
		}
	}
