@import 'reset';

@import 'mixin.scss';


/****************************************
**
**	2- HEADER
**
****************************************/

	/****************************************
	**	2.1 - TOP HEADER
	****************************************/

	header{
		max-width: 100%;
		display: flex;
		max-height: 200px;
		margin: 20px 10px 61px 10px;
	
		h1{
			width: 30%;

			img{
				max-width:50%;
			}
		}

		.baseline{
			width: 40%;
			text-align: center;
			font-family: 'order_pizzaregular';
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.5em;
			color: #96bd11;
		}

		.header_notif{
			width:30%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;

			.header_notif_top{
				display: flex;
				width: 30%;
				justify-content: space-between;
				
				.notif_top{
					border:2px solid $blue;
					width: 50px;
					height: 50px;
					display: flex;
					justify-content: center;
					    align-items: center;

				}
				#notif_alert::after{
					content: "\f100"; font-family: "Flaticon";font-size:2em; color:$green;
					-webkit-transition : all .3s;
					   -moz-transition : all .3s;
					        transition : all .3s;
				}
				#notif_msg::after{
					@extend #notif_alert::after;
					content: "\f101";
				}
				#notif_profil::after{
					@extend #notif_alert::after;
					content: "\f105"; 
				}
				
				#notif_alert:hover::after{color:#799e0b;}
				#notif_msg:hover::after{color:#799e0b;}
				#notif_profil:hover::after{color:#799e0b;}
			}



			.header_notif_search{
				width: 40%;
				height: 40px;
				margin-top: 20px;
				border: 3px solid transparent;
				-moz-border-image: -moz-linear-gradient(top left, $green 0%, $blue 100%);
				-webkit-border-image: -webkit-linear-gradient(top left, $green 0%, $blue 100%);
				border-image: linear-gradient(to bottom right, $green 0%, $blue 100%);
				border-image-slice: 1;

				background: none;
				padding-left: 10px;
			}
		}
	}




	/****************************************
	**	2.3 - IMAGE ACCUEIL
	****************************************/
	.img_accueil{
		background: url(../Image/accueil/bg_accueil.jpg) no-repeat center ; 
		background-size: 100%;
		background-position: center;
		width: 100%;
		height: 450px;
		display: flex;
		justify-content: center;
		align-items:center;
		flex-direction: column;

		h1{
			width: 21%;
		}

		h2{
			font-family: 'order_pizzaregular';
			color: $blue;

			-ms-transform: rotate(-1deg); /* IE 9 */
			    -webkit-transform: rotate(-1deg); 
			    transform: rotate(-1deg);
			color: #fff;
			font-size: 23px;
			text-align: center;
			margin-top: 30px;
		}
	}

	/****************************************
	**	2.4 - INTRO ACCUEIL
	****************************************/

	#intro_accueil{
		padding: 10px;
		h2{
			text-align: center;
			font-family: 'order_pizzaregular';
			color:$blue;
			margin: 50px  0;
		}

		

		.presentation{
			display: flex;
			justify-content: space-between;

			.col6{
				width:45%;
				display: flex;
				flex-direction: column;

				p:before{
					content: "\f106          "; font-family: "Flaticon";
					color:$green;
					font-weight: 800;
					font-size: 1.5em;
				}
			}
			
		}

		
		img{
			max-width: 20%;
			display: flex;
			margin: 0 auto;
		}
		> p{
			max-width:50%;
			margin:0 auto;
			margin-top: 20px;
		}
	}


/****************************************
**
**	3- DASHBOARD
**
****************************************/
	#accueil_dashboard{
		display: flex;
	}

	/****************************************
	**	3.1 - SIDEBAR
	****************************************/
	.sidebar_accueil{
		background:$blue;
		width: 20%;
		height: 100%;
	}


	/****************************************
	**	3.2 - DEFI
	****************************************/

	.dashboard{
		width: 80%;
		height: 100%;
		padding-left: 50px;

		h2{
			font-size: 48px;
			color : $blue;
			text-align: center;	
		}

		hr{
			border:0;
			height: 2px;
			width: 23%;
			background-image: linear-gradient(to right, $blue, $green);
		}

		.content_dashboard{
			margin-top: 50px;
			.single_defi{
				border: 1px solid #c6c6c6;
				padding: 20px;
				background: #fff;
				display: flex;
				margin: 20px 0;
		

				.single_defi_text{
					padding-left:20px;
					width: 100%;

					h3{
						text-transform: uppercase;
						font-size: 20px;
						color:#000;
						font-weight: bold;
						text-align: center;
					}

					p{
						font-style: italic;
					}

					.single_defi_bottom{
						display: flex;
						margin-top: 20px;

						.icon_partage{
							display: flex;

							.defi_ami{
								width: 90px;
								height: 70px;

								a{
									height: 100%;
									width: 100%;
									display: flex;
									justify-content: center;
									flex-direction: column;
									align-items: center;

									img{
										width: 50%;
									}

									span{
										padding-top: 10px;
										color: $d_grey;
									}
								}
							}
						}

						.icon_info_defi{
							display: flex;
							justify-content: flex-end;
							width: 100%;

							.info_defi{
								width: 90px;
								height: 80px;

								a{
									height: 100%;
									width: 100%;
									display: flex;
									justify-content: center;
									flex-direction: column;
									align-items: center;

									img{
										width: 50%;
									}

									span{
										padding-top: 10px;
										color: $d_grey;
									}
								}
							}
						}
					}
				}
			}


		}
	}

.single_defi:hover{
	-moz-box-shadow: 5px 5px 20px 0px #656565;
	-webkit-box-shadow: 5px 5px 20px 0px #656565;
	-o-box-shadow: 5px 5px 20px 0px #656565;
	box-shadow: 5px 5px 20px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=20);

}

	



