/***************************
		TYPO
****************************/
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

@font-face {
  font-family: "Flaticon";
  src: url("../Font/Flaticon.eot");
  src: url("../Font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../Font/Flaticon.woff") format("woff"),
       url("../Font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	background : red;
}



ul.bad {
	background: #c82929;
	color: white;
	padding: 30px;
}



// form {
// 	padding: 10px 30px 30px;
// 	background: #a8d6fd;
// }

label {
	width: 30%;
	display: inline-block;
}
