/****************************************
**
**	1- INITIALISATION
**
****************************************/
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,700");
.hide {
  display: none; }

ul {
  list-style-type: none; }

/****************************************
	**	1.1 - COULEURS
	****************************************/
/****************************************
**	1.2 - TYPOGRAPHIE
****************************************/
body {
  color: #7d7d7d;
  background: #eeeeee;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  margin: 0; }

@font-face {
  font-family: 'order_pizzaregular';
  src: url("../Font/order_pizza.woff2") format("woff2"), url("../Font/order_pizza.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a {
  text-decoration: none !important;
  color: #23b4b0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

li {
  list-style-type: none; }

/****************************************
**	1.3 - BLOCS & SECTIONS
****************************************/
* {
  box-sizing: border-box; }

.main_container {
  max-width: 1920px;
  margin: 0 auto; }

/****************************************
**
**	1- HEADER
**
****************************************/
.img_accueil {
  display: none; }

/****************************************
**	1.2 - IMAGE DEFI
****************************************/
.img_defi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  background: url(../Image/accueil/bg_accueil.jpg) no-repeat center;
  background-position: center;
  background-size: 100%;
  justify-content: center;
  align-items: center; }
  .img_defi h2 {
    font-family: "order_pizzaregular";
    font-size: 33px;
    text-align: center;
    color: #ffffff; }

#single_defi {
  display: flex;
  margin: 20px 10px; }

/****************************************
**
**	2- SIDEBAR
**
****************************************/
.sidebar_defi {
  width: 20%;
  height: 100%;
  border: 1px solid #c6c6c6;
  background: #ffffff; }
  .sidebar_defi .defi_title {
    padding: 20px;
    background: #23b4b0; }
    .sidebar_defi .defi_title h3 {
      font-size: 1.5em;
      font-weight: 100;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff; }
  .sidebar_defi .defi_pourcentage, .sidebar_defi .defi_badge, .sidebar_defi .defi_reussi {
    display: flex;
    flex-direction: column;
    height: 100px;
    border-bottom: 1px solid #c6c6c6;
    justify-content: center;
    align-items: center; }
    .sidebar_defi .defi_pourcentage .defi_st, .sidebar_defi .defi_badge .defi_st, .sidebar_defi .defi_reussi .defi_st, .sidebar_defi .defi_pourcentage .defi_badge h4, .sidebar_defi .defi_badge .defi_pourcentage h4, .sidebar_defi .defi_badge h4, .sidebar_defi .defi_pourcentage .defi_reussi h4, .sidebar_defi .defi_reussi .defi_pourcentage h4, .sidebar_defi .defi_reussi h4 {
      font-size: 1.2em;
      font-weight: 500;
      padding-bottom: 10px; }
    .sidebar_defi .defi_pourcentage h4:last-child, .sidebar_defi .defi_badge h4:last-child, .sidebar_defi .defi_reussi h4:last-child {
      font-family: "order_pizzaregular";
      color: #96be1f; }
  .sidebar_defi .defi_badge {
    height: 200px; }
    .sidebar_defi .defi_badge div {
      width: 100px; }
      .sidebar_defi .defi_badge div img {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%); }
    .sidebar_defi .defi_badge div:hover img {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%); }
    .sidebar_defi .defi_badge p {
      font-style: italic;
      margin: 10px 0 0 0;
      color: #96be1f; }
  .sidebar_defi .defi_reussi {
    height: auto;
    padding: 20px; }
    .sidebar_defi .defi_reussi span {
      font-weight: 800;
      letter-spacing: 1px;
      color: #23b4b0; }
  .sidebar_defi .defi_en_cours {
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    justify-content: center;
    align-items: center; }
    .sidebar_defi .defi_en_cours h4 {
      font-size: 1.2em;
      font-weight: 500;
      margin-top: 10px;
      padding-bottom: 10px; }
    .sidebar_defi .defi_en_cours span a {
      font-style: italic;
      color: #96be1f; }

/****************************************
**
**	3- CONTENTU DEFI
**
****************************************/
.content_defi {
  width: 80%;
  height: 800px;
  margin: 0 100px;
  border: 1px solid #c6c6c6;
  background: #ffffff;
  /****************************************
  **	3.1 - INFO DEFI
  ****************************************/
  /****************************************
  **	3.2 - BOUTON DEFI
  ****************************************/
  /****************************************
  **	3.3 - MU DEFI
  ****************************************/ }
  .content_defi .defi_info {
    padding: 20px;
    border-bottom: 1px solid #c6c6c6; }
    .content_defi .defi_info .defi_description p {
      font-size: 1.2em;
      font-weight: 100;
      line-height: 1.7;
      margin: 0;
      letter-spacing: .5px; }
    .content_defi .defi_info .defi_sous_info {
      display: flex;
      margin-top: 30px;
      color: #96be1f;
      justify-content: space-between; }
      .content_defi .defi_info .defi_sous_info p {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .content_defi .defi_info .defi_sous_info p span:first-child {
        color: #7d7d7d; }
      .content_defi .defi_info .defi_sous_info span a {
        color: #96be1f; }
  .content_defi .defi_btn {
    padding: 20px; }
    .content_defi .defi_btn form {
      padding: 0;
      text-align: center;
      background: none; }
    .content_defi .defi_btn input {
      font-weight: 700;
      position: relative;
      width: 50%;
      height: 50px;
      margin: 15px 30px;
      cursor: pointer;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #ffffff;
      border: none;
      outline: none;
      background: none; }
    .content_defi .defi_btn input[value="Participer"] {
      background: #96be1f; }
    .content_defi .defi_btn input[value="Participer"]:hover {
      color: #96be1f;
      border: 3px solid #96be1f;
      background: none; }
    .content_defi .defi_btn input[value="Abandonner"] {
      background: #c82929; }
    .content_defi .defi_btn input[value="Abandonner"]:hover {
      color: #c82929;
      border: 3px solid #c82929;
      background: none; }
  .content_defi .defi_mur {
    padding: 20px; }
    .content_defi .defi_mur h2 {
      font-family: "order_pizzaregular";
      text-align: center;
      color: #23b4b0; }
    .content_defi .defi_mur .poster_avis {
      width: 80%;
      height: 50px;
      margin-top: 20px;
      padding: 10px;
      background: #96be1f; }
      .content_defi .defi_mur .poster_avis .myMessage {
        width: 80%;
        height: 32px;
        padding: 5px;
        color: #ffffff;
        border: none;
        background: #b7ca82; }
      .content_defi .defi_mur .poster_avis .myMessage::-webkit-input-placeholder {
        color: #ffffff; }
      .content_defi .defi_mur .poster_avis .myMessage:-moz-placeholder {
        /* Firefox 18- */
        color: #ffffff; }
      .content_defi .defi_mur .poster_avis .myMessage::-moz-placeholder {
        /* Firefox 19+ */
        color: #ffffff; }
      .content_defi .defi_mur .poster_avis .myMessage:-ms-input-placeholder {
        color: #ffffff; }
      .content_defi .defi_mur .poster_avis input[type="submit"] {
        float: right;
        width: 10%;
        height: 32px;
        padding: 5px;
        cursor: pointer;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
        color: #ffffff;
        border: 2px solid #ffffff;
        background: none; }
      .content_defi .defi_mur .poster_avis input[type="submit"]:hover {
        border: none;
        background: #b7ca82; }
    .content_defi .defi_mur .post {
      height: auto;
      min-height: 72px;
      margin: 20px 0;
      padding: 10px;
      border: 1px solid #c6c6c6;
      background: red;
      background: #eeeeee; }
      .content_defi .defi_mur .post .content_post {
        margin-left: 58px; }
        .content_defi .defi_mur .post .content_post .stream-item-header {
          font-size: 1.2em; }
        .content_defi .defi_mur .post .content_post img {
          float: left;
          width: 48px;
          height: 48px;
          margin-top: 3px;
          margin-left: -58px;
          border-radius: 5px; }
        .content_defi .defi_mur .post .content_post .time {
          color: #7d7d7d; }
        .content_defi .defi_mur .post .content_post .text_post {
          font-weight: 200;
          margin-top: 3px;
          letter-spacing: .5px; }
