@import "reset";


#eco_service{
	
	h2{
		text-align: center;
		padding: 30px 15px;
		margin: 0;
		font-size: 3em;
		color: $blue;
	}
	
	nav{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		-ms-flex-line-pack: center;
		    -webkit-align-content: center;
		        align-content: center;
		width: 100%;
		font-size: 1.2em;
		background: rgba($blue, .2);
		
		a {
			padding: 15px 15px 15px 3em;
			position: relative;
			display: block;
			text-align: center;
			
			&:hover {
				color: white;
				
				&:before {
					-webkit-transform: translateY(-50%) translateX(-1.1em) scale(1.2);
					    -ms-transform: translateY(-50%) translateX(-1.1em) scale(1.2);
					        transform: translateY(-50%) translateX(-1.1em) scale(1.2);
				}
			}
			
			&:before{
				position: absolute;
				font-family: "Flaticon";
				font-size: 2em;
				color:$green;
				top: 50%;
				-webkit-transform: translateY(-50%) translateX(-1.1em);
				    -ms-transform: translateY(-50%) translateX(-1.1em);
				        transform: translateY(-50%) translateX(-1.1em);
				transition : all .3s;
			}
		}		
				
		#nourrir:before{content: "\f102";}
		#jardin:before{content: "\f10b"; }
		#soigner:before{content: "\f105"; }
		#others:before{content: "\f10c"; }
	}	
	
	#new_service {
		position: relative;
		text-align: center;
		background: #979797;
		color: white;
		padding: 10px 15px;
		margin: 0;
		font-size: .8em;
		
		&:after{
			font-family: "FontAwesome";
			content: "\f0d7";
			font-size: 1em;
			color:$green;
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%) translateX(.5em);
			    -ms-transform: translateY(-50%) translateX(.5em);
			        transform: translateY(-50%) translateX(.5em);
		}
	}
	
	#form_service{
		display: none;
		background: #fff;
		border : 1px solid #ccc;
		
		section {
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			margin: 0;
			padding: 0;
			
			.half {
				width: #{100%/2};
				padding: 10px 15px;
			}
			
			input, select, textarea{
				width: 100%;
				font-size: 1em;
				border-radius: 0;
				border: none;
				padding: 10px;
				margin: 5px 0;
				-webkit-appearance: none;
				        -moz-appearance: none;
				     appearance: none;
				color: $blue;
			}
			
			select {
				color: white;
				background: rgba($blue, .5);
			}
			
			input[type="text"]{
			}
		
			textarea{
				resize: none;
				height: 132px;
			}
		
			input[type="file"]{
				background: rgba($blue, .5);
				color: white;
			}
		
			input[type="submit"]{
				color: white;
				background: $blue;
				cursor: pointer;
			}
		
			input[type="submit"]:hover{
				background: rgba($blue, .5);
			}
			
		}
	}

	h3{
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: lighter;
		color: $green;
		margin: 0;
		padding: 30px 15px;
	}
	
	.content_article{
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		padding: 7.5px;

		.service{
			width: 50%;
			padding: 7.5px;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
			
			.card {
				background: white;
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				-webkit-justify-content: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-webkit-align-items: center;
				    -ms-flex-align: center;
				        align-items: center;
				-ms-flex-line-pack: center;
				    -webkit-align-content: center;
				        align-content: center;
				-webkit-flex-wrap: wrap;
				    -ms-flex-wrap: wrap;
				        flex-wrap: wrap;
				width: 100%;
				
				.link {
					color: rgba($blue, .75);
				}
				
				> * {
					padding: 15px;
				}
				
				> img {
					width: 33.333%;
				}
				
				> div {
					width: 66.666%;
				}
			}
						
		}
	}
	
		h4{
			font-size: 1.2em;
			    color: #23b4bd;
		}
		>img{
			max-width:50%;
		}

		p{color:$d_grey;}
		
		span{
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-direction: column;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
		}
		span:before{
			font-family: "Flaticon";
			content: "\f109";
			font-size: 2em;
			color:$green;
		}

	.col3:hover{
		border:2px solid $green;
	}
}
