@import "reset";

.inscription a{
	border: 2px solid $blue;
	    padding: 3px 32px;
	color: $green;
	font-size: 1.4em;
	font-weight: 100;
	-webkit-transition : all .3s;
	   -moz-transition : all .3s;
	        transition : all .3s;
}

.inscription a:hover{
	background:$green;
	color:#fff;
}

.header_co{
	width: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}


header{
	.baseline{
		width: 60%;
	}
	h1{
		width:20%;

		img{
			max-width: 70%;
		}
	}
}
.connexion {
	h2{
		font-weight: 100;
		text-align: center;
		font-size: 1.4em;
		color:$green;
	}

	form{
		display: flex;
		flex-direction: column;

		input{
			border: 1px solid #23b4b0;
			    background: none;
			    padding: 5px 0;
			    margin: 5px 0;
			
		}

		input[type="submit"]{
			border: 2px solid $green;
			color:$blue;
			text-transform: uppercase;
			font-weight: 600;
			cursor:pointer;
		}

	}
}