@import 'reset';


/****************************************
**
**	1- HEADER
**
****************************************/

header{
	width: 100%;
	height:100px;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	background:$blue;
	padding: 10px;

	.logo_greenhand{
		width:10%;

		h1{
			height: 100%;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-justify-content: center;
			    -ms-flex-pack: center;
			        justify-content: center;
			img{
				height: 100%;
			}
		}
		
	}

	.main_menu{
		width:40%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;

		nav{
			height: 100%;
			width: 60%;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-align-items: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-justify-content: space-between;
			    -ms-flex-pack: justify;
			        justify-content: space-between;

			a{
				color:#fff;
				text-transform: uppercase;
				font-weight: 100;
			}
		}
	}

	.search{
		width: 40%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;

		input{
			height: 40px;
			border: 1px solid #fff;
			background: none;
			padding-left: 10px;
			color:#fff;
			width: 40%;
		}

		input::-webkit-input-placeholder {
		    color:#fff;
		}
		 
		input:-moz-placeholder {
		    color:#fff;
		}
	}

	.notif_menu{
		width: 10%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-align-items: center;
		    -ms-flex-align: center;
		        align-items: center;
		.notif_top{
			width: 33.333333%;

			img{
				max-width: 60%;
				    max-height: 100%;
			}
		}
	}
}


/****************************************
**
**	2- PHOTO - HEADER
**
****************************************/
.photo_couv{
	width: 100%;
	height: 300px;

	.fa-cog{
		float: right;
		color: #fff;
		font-size: 33px;
		margin: 35px 25px;
		transition: color 0.5s;
	}

	.fa-cog:hover{
		color:$green;
	}
	
}
/****************************************
**
**	3- INFO PROFIL TOP
**
****************************************/
#profil{
	
	padding: 10px;
}

.info_profil_top{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	
}


.sidebar{
	width:20%;
	height:500px;
	margin-top: -115px;
	.img_profil{
		width: 20%;
		height: 200px;
		overflow: hidden;

		img{
			width: 100%;
			height: 100%;
			border-radius: 5%;
		}
	}

	h2{
		color: #fff;
		margin-left: 15px;
	}

	.info_stat{
		width: 100%;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;

		.defi_en_cours{
			width: 50%;
			background: red;
			height: 100px;
		}

		.defi_poste{
			width: 50%;
			background: brown;
			height: 100px;
		}

		.badge{
			width: 100%;
			height: 100px;
			background: blueviolet;
		}
	}
}


