/****************************************
**
**	MAX WIDTH 1400px
**
****************************************/

@media screen and (max-width: 1400px) {

	.header_notif_top, .header_notif_search{
		width: 50% !important;
	}

	.baseline h2{
		font-size: 1.3em;
	}

	header h1 img{
		max-width: 80%;
	}

}

/****************************************
**
**	MAX WIDTH 960px
**
****************************************/

@media screen and (max-width: 960px) {

	header{
		h1, .baseline, .header_notif{
			width: 33.333333%;
		}

		.header_notif_top, .header_notif_search{
			width: 60% !important;
		}
	}

}

/****************************************
**
**	MAX WIDTH 730px
**
****************************************/
@media screen and (max-width: 730px) {
	header{
		flex-direction: column;
		max-height: 100%;
		h1{
			width: 100%;
			a{
				display: flex;
				justify-content: center;
			}
		}

		.baseline{
			width: 100%;
			color:#ccc;
		}

		.header_notif{
			width: 100%;
			align-items: center;
		}

		h1, .baseline, .header_notif{
			margin : 10px 0;
		}
	}
}


/****************************************
**
**	MAX WIDTH 500px
**
****************************************/
@media screen and (max-width: 500px) {
	.main_menu{
		position: initial;
		nav{
			flex-direction:column;
			.item_menu a{
				width:100%;
				height: 100%;
				border:none !important;
				border-right:none !important;
				border-bottom:none !important;
				padding:5px;

				.content_img_menu{
					display: none;
				}

				span{
					padding:0;
				}
			}

			.item_menu:hover{
				height: 100%;
				border-bottom: none
				-webkit-transform: translate(0px, 0px);
				-ms-transform: translate(0px, 0px);
				transform: translate(0px, 0px);
			}
		}
	}


}