/****************************************
**
**	HEADER
**
****************************************/

@media screen and (max-width: 1400px) {

	.header_notif_top, .header_notif_search{
		width: 50% !important;
	}

	.baseline h2{
		font-size: 1.3em;
	}

	header h1 img{
		max-width: 80%;
	}

}


@media screen and (max-width: 960px) {

	header{
		h1, .baseline, .header_notif{
			width: 33.333333%;
		}

		.header_notif_top, .header_notif_search{
			width: 60% !important;
		}
	}

}


@media screen and (max-width: 730px) {
	header{
		flex-direction: column;
		max-height: 100%;
		h1{
			width: 100%;
			a{
				display: flex;
				justify-content: center;
			}
		}

		.baseline{
			width: 100%;
			color:#ccc;
		}

		.header_notif{
			width: 100%;
			align-items: center;
		}

		h1, .baseline, .header_notif{
			margin : 10px 0;
		}
	}
}