Options All -Indexes
Options +FollowSymLinks

RewriteEngine on
RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php?p=$1
RewriteRule ^(asset/[a-zA-Z0-9\-\_\/]*)$ index.php?p=asset/$1

## Redirection 301
##RewriteCond %{HTTP_HOST} ^(.*)$ [NC]
##RewriteCond %{HTTP_HOST} !^(.*)\.(.*)\. [NC]
##RewriteCond %{HTTPS}s ^on(s)|
##RewriteRule ^ HTTP%1://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

## Compression
<filesMatch "\.(js|css|x?html?|php|ico|jpe?g|png|gif|swf|svg|mp4|mp3|ogg)$">
SetOutputFilter DEFLATE
</filesMatch>

##<FilesMatch “.(gif|jpg|jpeg|png|ico|swf|js|css|pdf)$”>
##Header set Cache-Control “max-age=2592000”
##</FilesMatch>

<Files .htaccess>
order allow,deny
deny from all
</Files>